@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box;
}
.dark{
  background: #334155;
  color: #e2e8f0;
}
.theme{
  transition: 0.1s all ease-in-out;
}